@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: 'Urbanist';
  src: url('/src/assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
}